<div id="mySidenav" class="sidenav">
  <a href="https://uit-econ.github.io/">Hovedside bachelor</a>
  <a href="https://uit-sok-2301-h26.github.io/index.html" target="blank">Hjem</a>
    <a href="https://uit-sok-2301-h26.github.io/innleveringer_eksamen.html">Innleveringer og eksamen</a>
  <a href="https://uit-sok-2301-h26.github.io/kursplan.html">Kursplan</a>
  <a href="https://uit-sok-2301-h26.github.io/rapporter.html">Rapporter og analyser</a>
  <a href="https://github.com/uit-sok-2301-h26/uit-sok-2301-h26.github.io">Dette repositoriet</a>
  <a href="https://uit-sok-2301-h26.github.io/forelesninger/prosjekt.html">Prosjektoppgave</a>
  <a href="https://uit-sok-2301-h26.github.io/gruppesvar.html">Gruppesvar</a>

  

</div>
