<div id="mySidenav" class="sidenav">
  <a href="https://uit-econ.github.io/">Hovedside bachelor</a>
  <a href="https://uit-sok-2301-h25.github.io/index.html" target="blank">Hjem</a>
  <a href="https://uit-sok-2301-h25.github.io/kursplan.html">Kursplan</a>
  <a href="https://github.com/uit-sok-2301-h25/uit-sok-2301-h25.github.io">Dette repositoriet</a>
  <a href="https://uit-sok-2301-h25.github.io/forelesninger/prosjekt.html">Prosjektoppgave</a>
  <a href="https://uit-sok-2301-h25.github.io/gruppesvar.html">Gruppesvar</a>

  

</div>
